<div class="container-fluid">
    <form name="npsForm">
        <h3>{{ storeName }}</h3>
        <div class="form-group">
            <label for=" npsratingselect">How likely are you to recommend this store?</label>
            <select class="form-control" name="npsRatingSelect" id="npsRatingSelect" ng-model="selectedRating" ng-options="rating as rating.title for rating in ratings"></select>
        </div>
        <div class="form-group">
            <textarea class="form-control" ng-model="comments" id="npsComments" rows="6" placeholder="Please enter your comments here..."></textarea>
        </div>
        <div class="input-group">
            <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />
            <input class="btn" id="npsSubmit" type="button" value="Submit" ng-click="submit()" disabled/>
        </div>
    </form>
</div>