<form>
    <div class="form-group">
        <label for="wgllSelectRegion">Select a region</label>
        <select class="form-control" id="wgllSelectRegion" ng-model="selectedRegion" ng-options="region as region.title for region in regions" disabled=""></select>
    </div>
    <div class="form-group">
        <label for="wgllSelectStore">Select a store</label>
        <select class="form-control" id="wgllSelectStore" ng-model="selectedStore" ng-options="store as store.title for store in stores" disabled=""></select>
    </div>
    <div class="form-group">
        <label for="wgllSelectVisitType">Select a review type</label>
        <select class="form-control" id="wgllSelectVisitType" ng-model="selectedVisitType" ng-options="visitType as visitType.title for visitType in visitTypes" disabled=""></select>
    </div>
    <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />&nbsp;
    <input class="btn btn-default" id="wgllButtonCreateReview" type="button" value="Create Review" ng-click="goTo('/NewReview/'+selectedRegion.title+'/'+selectedStore.title+'/'+selectedVisitType.title)" disabled="" />
</form>