<form id="wgll-review-form">
    <div class="btn-group">
        <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />
        <input class="btn wgll-button-disabled" type="button" value="Edit" ng-click="goTo('/EditReview/'+reviewId)" />
    </div>
    <div id="wgllReviewContainer" class="form-group wgll-review-container">
        <h2><span class="wgll-review-title-span">{{ title }}</span></h2>
        <div class="form-group">
            <label for="wgllReviewStatusInput">Status</label>
            <div id="wgllReviewStatusInput" class="form-control">{{ status }}</div>
        </div>
        <div class="form-group">
            <label for="wgllReviewStoreInput{{$index}}">Store</label>
            <div id="wgllReviewStoreInput{{$index}}" class="form-control">{{ store }}</div>
        </div>
        <div class="form-group">
            <label for="wgllReviewVisitTypeInput{{$index}}">Visit Type</label>
            <div id="wgllReviewVisitTypeInput{{$index}}" class="form-control">{{ visitType }}</div>
        </div>
        <div id="wgllSubsetContainer{{ $index }}" class="form-group wgll-subset-container clearfix" ng-repeat="subset in subsets" ng-hide="!$first">
            <div class="btn-group pull-right">
                <input class="btn" type="button" value="Back" ng-click="moveBack('wgllSubsetContainer'+$index, $index)" ng-disabled="$first" />
                <input class="btn" type="button" value="Next" ng-click="moveNext('wgllSubsetContainer'+$index, $index)" ng-disabled="$last" />
            </div>
            <h3><span class="wgll-subset-order-span">{{ $index + 1}}).</span>&#160;<span class="wgll-subset-title-span">{{ subset.title }}</span></h3>
            <p ng-bind-html="subset.detail"></p>
            <div class="form-group wgll-criteria-container" ng-repeat="answer in subset.answers" title="{{ subset.title }}" subtitle="{{ answer.title }}">
                <label for="wgllresultcheckbox{{ $parent.$index }}{{ $index }}" class="wgll-criteria-title-label" nonnegotiable="{{ answer.nonNegotiable }}">{{ answer.title }}</label>
                <div class="form-group checkbox pull-right">
                    <label class="checkbox-inline" for="wgllresultcheckbox{{ $parent.$index }}{{ $index }}">
                        <input id="wgllresultcheckbox{{ $parent.$index }}{{ $index }}" disabled="" class="wgll-checkbox-result" ng-checked="answer.result == 'Pass'" type="checkbox" />&#160;Pass
                    </label>
                    <label class="checkbox-inline" for="wgllResultCheckboxFail{{ $parent.$index }}{{ $index }}">
                        <input id="wgllResultCheckboxFail{{ $parent.$index }}{{ $index }}" disabled="" class="wgll-checkbox-result" ng-checked="answer.result == 'Fail'" type="checkbox" ng-model="failed">&nbsp;Fail
                    </label>
                </div>
                <a ng-click="showFurtherGuidance('wgllFurtherGuidanceDiv'+$parent.$index+$index, store, subset.title, answer.title)" class="wgll-store-guidance-link" title="View further guidance for {{ currentUsersStore }} on this criteria">
                    <span style="width: 20px; height: 17px; overflow: hidden; display: inline-block; position: relative;">
                        <img src="/_layouts/15/images/spcommon.png?rev=1" style="left: -194px; top: -173px; position: absolute;" alt="Refresh current Reviews image" />
                    </span>
                </a>
                <div class="form-group wgll-criteria-detail-container" ng-bind-html="answer.detail"></div>
                <div class="form-group wgll-criteria-further-guidance wgll-rounded-border bg-info hide" id="wgllFurtherGuidanceDiv{{$parent.$index}}{{$index}}">
                    <p style="text-align:center">
                        <img src="/_layouts/15/images/loading16.gif?rev=1" alt="loading criteria further guidance image" />
                    </p>
                </div>
                <div class="form-group alert alert-error bg-warning wgll-reason-for-failure-container" ng-hide="answer.result != 'Fail'">
                    <label for="wgllreasonforfailure{{$parent.$index}}{{$index}}" class="">Reason for failure:</label>
                    <div id="wgllreasonforfailure{{$parent.$index}}{{$index}}" class="form-group wgll-reason-for-failure-container" ng-bind-html="answer.reasonForFailure"></div>
                </div>
            </div>
            <div class="btn-group pull-right">
                <input class="btn" type="button" value="Back" ng-click="moveBack('wgllSubsetContainer'+$index, $index)" ng-disabled="$first" />
                <input class="btn" type="button" value="Next" ng-click="moveNext('wgllSubsetContainer'+$index, $index)" ng-disabled="$last" />
            </div>
        </div>
        <div class="form-group">
            <label for="wgllReviewVisitSummaryInput{{$index}}">Visit Summary</label>
            <div id="wgllReviewVisitSummary{{$index}}" class="form-control" ng-bind-html="visitSummary" />
        </div>
        <div class="form-group">
            <label for="wgllReviewNotesInput{{$index}}">Notes</label>
            <div id="wgllReviewNotesInput{{$index}}" class="form-control" ng-bind-html="notes" />
        </div>
    </div>
    <div class="btn-group">
        <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />
        <input class="btn wgll-button-disabled" type="button" value="Edit" ng-click="goTo('/EditReview/'+reviewId)" />
    </div>
</form>