<form id="wgll-review-form">
    <div class="btn-group">
        <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />
        <input class="btn wgll-button-disabled" type="button" value="Save" ng-click="save()" disabled="" />
        <input class="btn wgll-button-disabled wgll-button-submit-disabled" type="button" value="Submit" ng-click="submit()" disabled="" />
    </div>
    <div id="wgllReviewContainer" class="form-group wgll-review-container">
        <h2><span class="wgll-review-title-span">{{ title }}</span></h2>
        <div class="form-group">
            <label for="wgllReviewStatusInput">Status</label>
            <div id="wgllReviewStatusInput" class="form-control">{{ status }}</div>
        </div>
        <div class="form-group">
            <label for="wgllReviewStoreInput{{$index}}">Store</label>
            <div id="wgllReviewStoreInput{{$index}}" class="form-control">{{ store }}</div>
        </div>
        <div class="form-group">
            <label for="wgllReviewVisitTypeInput{{$index}}">Visit Type</label>
            <div id="wgllReviewVisitTypeInput{{$index}}" class="form-control">{{ visitType }}</div>
        </div>
        <div id="wgllSubsetContainer{{ $index }}" class="form-group wgll-subset-container clearfix" ng-repeat="subset in subsets" ng-hide="!$first">
            <div class="btn-group pull-right wgll-navigation-buttons">
                <input class="btn" type="button" value="Back" ng-click="moveBack('wgllSubsetContainer'+$index, $index)" ng-disabled="$first" />
                <input class="btn" type="button" value="Next" ng-click="moveNext('wgllSubsetContainer'+$index, $index)" ng-disabled="$last" />
            </div>
            <h3 class="hide">
                <span class="wgll-subset-order-span">{{ $index + 1}}).</span>&#160;
                <span class="wgll-subset-title-span">{{ subset.title }}</span>
            </h3>
            <p ng-bind-html="subset.detail"></p>
            <div class="form-group wgll-criteria-container" ng-repeat="answer in subset.answers" title="{{ subset.title }}" subtitle="{{ answer.title }}">
                <ul class="nav nav-pills pull-right" style="margin-left:5px;" role="tablist">
                    <li role="presentation">
                        <a ng-click="showFurtherGuidance('wgllFurtherGuidanceDiv'+$parent.$index+$index, criteria.id)" criteriaid="{{ criteria.id }}" class="wgll-store-guidance-link" title="View further guidance for {{ currentUsersStore }} on this criteria">
                            <span style="width: 20px; height: 17px; overflow: hidden; display: inline-block; position: relative;">
                                <img src="/_layouts/15/images/spcommon.png?rev=1" style="left: -194px; top: -173px; position: absolute;" alt="Refresh current Reviews image" />
                            </span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="" class="show" ng-click="showUploadImage('wgllUploadImage'+$parent.$index+$index)" title="Add an image">
                            <span style="width: 20px; height: 17px; overflow: hidden; display: inline-block; position: relative;">
                                <img src="/_layouts/15/images/spcommon.png?rev=1" style="left: -125px; top: -213px; position: absolute;" alt="Refresh current Reviews image" />
                            </span>
                        </a>
                    </li>
                </ul>
                <label for="wgllresultcheckbox{{ $parent.$index }}{{ $index }}" class="wgll-criteria-title-label" nonnegotiable="{{ answer.nonNegotiable }}" answerid="{{ answer.id }}">{{ answer.title }}</label>
                <div class="form-group checkbox pull-right">
                    <label class="checkbox-inline" for="wgllResultCheckbox{{ $parent.$index }}{{ $index }}">
                        <input id="wgllResultCheckbox{{ $parent.$index }}{{ $index }}" ng-model="passed" ng-checked="answer.result == 'Pass'" class="wgll-checkbox-result wgll-checkbox-result-pass" type="checkbox"
                               ng-click="toggleFail('wgllResultCheckboxFail'+$parent.$index+$index, passed, 'wgllTextAreaDiv'+$parent.$index+$index)">&nbsp;Pass
                    </label>
                    <label class="checkbox-inline" for="wgllResultCheckboxFail{{ $parent.$index }}{{ $index }}">
                        <input id="wgllResultCheckboxFail{{ $parent.$index }}{{ $index }}" ng-checked="answer.result == 'Fail'" class="wgll-checkbox-result wgll-checkbox-result-fail" type="checkbox" ng-model="failed"
                               ng-click="togglePass('wgllResultCheckbox'+$parent.$index+$index, failed, 'wgllTextAreaDiv'+$parent.$index+$index)">&nbsp;Fail
                    </label>
                </div>
                <div class="form-group wgll-criteria-detail-container" ng-bind-html="answer.detail"></div>
                <div class="form-group wgll-criteria-further-guidance wgll-rounded-border bg-info hide" id="wgllFurtherGuidanceDiv{{$parent.$index}}{{$index}}">
                    <p style="text-align:center">
                        <img src="/_layouts/15/images/loading16.gif?rev=1" alt="loading criteria further guidance image" />
                    </p>
                </div>
                <div class="form-group hide bg-warning wgll-reason-for-failure-container wgll-rounded-border clearfix" id="wgllTextAreaDiv{{$parent.$index}}{{$index}}">
                    <label for="wgllreasonforfailure{{$parent.$index}}{{$index}}" class="">Reason for failure:</label>
                    <textarea id="wgllreasonforfailure{{$parent.$index}}{{$index}}" ng-required="true" class="form-control wgll-criteria-reason-for-failure-textarea" ng-bind-html="answer.reasonForFailure" placeholder="Enter a reason for the failure here..."></textarea>
                    <div class="required pull-right" ng-hide="criteria.checked">
                        <span class="error">* This field is required</span>
                    </div>
                </div>
                <div id="wgllUploadImage{{$parent.$index}}{{$index}}" class="input-group bg-warning clearfix hide wgll-rounded-border">
                    <input class="form-control" id="wgllFile{{$parent.$index}}{{$index}}" type="file" /><br />
                    <br />
                    <button class="btn btn-default pull-right" id="wgllFileAdd{{$parent.$index}}{{$index}}" type="button" ng-click="uploadImage('wgllFileAdd'+$parent.$index+$index,'wgllFile'+$parent.$index+$index, 'wgllUploadImage'+$parent.$index+$index)">Upload</button>
                </div>
                <div id="wgllUploadImageDiv{{$parent.$index}}{{$index}}" ng-show="answer.images.length > 0" class="form-group bg-warning wgll-rounded-border wgll-images-div-container">
                    <div class="row container">
                        <div class="col-xs-4 col-md-2 bg-success wgll-rounded-border" ng-repeat="image in answer.images">
                            <a href="{{ image.serverRelativeUrl }}" class="thumbnail" target="_blank">
                                <img src="{{ image.serverRelativeUrl }}" alt="{{ image.name }}" />
                            </a>
                            <div class="caption text-center">
                                <h6>
                                    {{ image.name }}
                                </h6>
                                <p>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteImage(image.serverRelativeUrl)">X</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group pull-right">
                <input class="btn" type="button" value="Back" ng-click="moveBack('wgllSubsetContainer'+$index, $index)" ng-disabled="$first" />
                <input class="btn" type="button" value="Next" ng-click="moveNext('wgllSubsetContainer'+$index, $index)" ng-disabled="$last" />
            </div>
        </div>
        <div class="form-group">
            <label for="wgllReviewVisitSummaryInput{{$index}}">Visit Summary</label>
            <textarea id="wgllReviewVisitSummaryTextarea{{$index}}" class="form-control" ng-bind-html="visitSummary"></textarea>
        </div>
        <div class="form-group">
            <label for="wgllReviewNotesInput{{$index}}">Notes</label>
            <textarea id="wgllReviewNotesTextarea{{$index}}" class="form-control" ng-bind-html="notes"></textarea>
        </div>
    </div>
    <div class="btn-group">
        <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />
        <input class="btn wgll-button-disabled" type="button" value="Save" ng-click="save()" disabled="" />
        <input class="btn wgll-button-disabled wgll-button-submit-disabled" type="button" value="Submit" ng-click="submit()" disabled="" />
    </div>
</form>