<form id="wgll-review-form">
    <div class="input-group">
        <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />&#160;
        <input class="btn wgll-button-disabled" type="button" value="Save" ng-click="save()" disabled="" />&#160;
        <input class="btn wgll-button-disabled" type="button" value="Submit" ng-click="submit()" disabled="" />
    </div>
    <div id="wgllSubsetContainer{{ $index }}" class="form-group wgll-subset-container" ng-repeat="subset in subsets">
        <h3><span class="wgll-subset-order-span">{{ $index + 1}}).</span>&#160;<span class="wgll-subset-title-span">{{ subset.title }}</span></h3>
        <p ng-bind-html="subset.detail"></p>
        <div class="form-group wgll-criteria-container" ng-repeat="criteria in subset.criteria" title="{{ subset.title }}" subtitle="{{ criteria.title }}">
            <label for="wgllresultcheckbox{{ $index }}" class="wgll-criteria-title-label" nonnegotiable="{{ criteria.nonNegotiable }}">{{ criteria.title }}</label>
            <div class="form-group checkbox pull-right">
                <label>
                    <input id="wgllResultCheckbox{{ $index }}" class="wgll-checkbox-result" type="checkbox"
                           ng-model="criteria.checked" ng-change="showHideTextArea(criteria.checked, 'wgllTextAreaDiv'+$parent.$index+$index)">&#160;Pass
                </label>
            </div>
            <div class="form-group wgll-criteria-detail-container" ng-bind-html="criteria.detail"></div>
            <div class="form-group show" id="wgllTextAreaDiv{{ $parent.$index }}{{ $index }}">
                <label for="wgllTextArea{{ $index }}">Reason for failure</label>
                <textarea id="wgllTextArea{{ $index }}" ng-required="true" class="form-control wgll-criteria-reason-for-failure-textarea" rows="2" ng-attr-placeholder="Enter a reason for the failure here..."></textarea>
            </div>
        </div>
        <div class="input-group" ng-hide="sectionHide($index)">
            <input class="btn" type="button" value="Next" ng-click="moveNext()" />
        </div>
    </div>
    <div class="form-group" ng-repeat-end>
        <div class="form-group">
            <label for="wgllReviewVisitSummaryTextarea">Visit Summary</label>
            <textarea id="wgllReviewVisitSummaryTextarea" class="form-control" rows="10" placeholder="Enter a summary of the visit here..."></textarea>
        </div>
        <div class="form-group">
            <label for="wgllReviewNotesTextarea">Notes</label>
            <textarea id="wgllReviewNotesTextarea" class="form-control" placeholder="Enter any review notes here..."></textarea>
        </div>
    </div>
    <div class="input-group">
        <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />&#160;
        <input class="btn wgll-button-disabled" type="button" value="Save" ng-click="save()" disabled="" />&#160;
        <input class="btn wgll-button-disabled" type="button" value="Submit" ng-click="submit()" disabled="" />
    </div>
</form>