<form id="wgll-review-form">
    <div class="btn-group">
        <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />
        <input class="btn wgll-button-disabled" type="button" value="Save" ng-click="save()" disabled="" />
        <input class="btn wgll-button-disabled wgll-button-submit-disabled" type="button" value="Submit" ng-click="submit()" disabled="" />
    </div>
    <div id="wgllSubsetContainer{{ $index }}" class="form-group wgll-subset-container clearfix" ng-repeat="subset in subsets" ng-hide="!$first">
        <div class="btn-group pull-right wgll-navigation-buttons" role="group">
            <input class="btn" type="button" value="Back" ng-click="moveBack('wgllSubsetContainer'+$index, $index)" ng-disabled="$first" />
            <input class="btn" type="button" value="Next" ng-click="moveNext('wgllSubsetContainer'+$index, $index)" ng-disabled="$last" />
        </div>
        <h3 class="hide">
            <span class="wgll-subset-order-span">{{ $index + 1}}).</span>&#160;
            <span class="wgll-subset-title-span">{{ subset.title }}</span>
        </h3>
        <p ng-bind-html="subset.detail"></p>
        <div class="form-group wgll-criteria-container" ng-repeat="criteria in subset.criteria" title="{{ subset.title }}" subtitle="{{ criteria.title }}">
            <ul class="nav nav-pills pull-right" style="margin-left:5px;" role="tablist">
                <li role="presentation">
                    <a ng-click="showFurtherGuidance('wgllFurtherGuidanceDiv'+$parent.$index+$index, criteria.id)" criteriaid="{{ criteria.id }}" class="wgll-store-guidance-link" title="View further guidance for {{ currentUsersStore }} on this criteria">
                        <span style="width: 20px; height: 17px; overflow: hidden; display: inline-block; position: relative;">
                            <img src="/_layouts/15/images/spcommon.png?rev=1" style="left: -194px; top: -173px; position: absolute;" alt="Refresh current Reviews image" />
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="" class="show" ng-click="showUploadImage('wgllUploadImage'+$parent.$index+$index)" title="Add an image">
                        <span style="width: 20px; height: 17px; overflow: hidden; display: inline-block; position: relative;">
                            <img src="/_layouts/15/images/spcommon.png?rev=1" style="left: -125px; top: -213px; position: absolute;" alt="Refresh current Reviews image" />
                        </span>
                    </a>
                </li>
            </ul>
            <label for="wgllresultcheckbox{{ $parent.$index }}{{ $index }}" title="{{ criteria.title }}" class="wgll-criteria-title-label" order="{{ criteria.order }}" nonnegotiable="{{ criteria.nonNegotiable }}">{{ criteria.title }}</label>
            <div class="form-group checkbox pull-right" title="{{ criteria.title }}">
                <label class="checkbox-inline" for="wgllResultCheckbox{{ $parent.$index }}{{ $index }}">
                    <input id="wgllResultCheckbox{{ $parent.$index }}{{ $index }}" ng-model="passed" class="wgll-checkbox-result wgll-checkbox-result-pass" type="checkbox"
                           ng-click="toggleFail('wgllResultCheckboxFail'+$parent.$index+$index, passed, 'wgllTextAreaDiv'+$parent.$index+$index)">&nbsp;Pass
                </label>
                <label class="checkbox-inline" for="wgllResultCheckboxFail{{ $parent.$index }}{{ $index }}">
                    <input id="wgllResultCheckboxFail{{ $parent.$index }}{{ $index }}" class="wgll-checkbox-result wgll-checkbox-result-fail" type="checkbox" ng-model="failed"
                           ng-click="togglePass('wgllResultCheckbox'+$parent.$index+$index, failed, 'wgllTextAreaDiv'+$parent.$index+$index)">&nbsp;Fail
                </label>
            </div>
            <div class="form-group wgll-criteria-detail-container" ng-bind-html="criteria.detail"></div>
            <div class="form-group wgll-rounded-border bg-info wgll-criteria-further-guidance hide" criteriaid="{{ criteria.id }}" id="wgllFurtherGuidanceDiv{{$parent.$index}}{{$index}}">
            </div>
            <div class="form-group hide clearfix bg-warning wgll-reason-for-failure-container wgll-rounded-border" id="wgllTextAreaDiv{{ $parent.$index }}{{ $index }}" title="{{ criteria.title }}">
                <label for="wgllTextArea{{ $index }}">Reason for failure</label>
                <textarea name="wgllReasonForFailure{{$index}}" id="wgllTextArea{{ $index }}" ng-required="true" class="form-control wgll-criteria-reason-for-failure-textarea" rows="2" ng-model="criteria.reasonforfailuretext" placeholder="Enter a reason for the failure here..."></textarea>
                <div class="required pull-right" ng-hide="criteria.checked">
                    <span class="error">* This field is required</span>
                </div>
            </div>
            <div id="wgllUploadImage{{$parent.$index}}{{$index}}" class="input-group bg-warning clearfix hide wgll-rounded-border">
                <input class="form-control" id="wgllFile{{$parent.$index}}{{$index}}" type="file" /><br />
                <br />
                <button class="btn btn-default pull-right" id="wgllFileAdd{{$parent.$index}}{{$index}}" type="button" ng-click="uploadImage('wgllFileAdd'+$parent.$index+$index,'wgllFile'+$parent.$index+$index, 'wgllUploadImage'+$parent.$index+$index)">Upload</button>
            </div>
            <div id="wgllUploadImageDiv{{$parent.$index}}{{$index}}" class="form-group bg-warning wgll-rounded-border hide wgll-images-div-container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="btn-group pull-right" role="group">
            <input class="btn" type="button" value="Back" ng-click="moveBack('wgllSubsetContainer'+$index, $index)" ng-disabled="$first" />
            <input class="btn" type="button" value="Next" ng-click="moveNext('wgllSubsetContainer'+$index, $index)" ng-disabled="$last" />
        </div>
    </div>
    <div class="form-group" ng-repeat-end>
        <div class="form-group">
            <label for="wgllReviewVisitSummaryTextarea">Visit Summary</label>
            <textarea id="wgllReviewVisitSummaryTextarea" class="form-control" rows="10" placeholder="Enter a summary of the visit here..."></textarea>
        </div>
        <div class="form-group">
            <label for="wgllReviewNotesTextarea">Notes</label>
            <textarea id="wgllReviewNotesTextarea" class="form-control" placeholder="Enter any review notes here..."></textarea>
        </div>
    </div>
    <div class="btn-group">
        <input class="btn" type="button" value="Cancel" ng-click="goTo('/')" />
        <input class="btn wgll-button-disabled" type="button" value="Save" ng-click="save()" disabled="" />
        <input class="btn wgll-button-disabled wgll-button-submit-disabled" type="button" value="Submit" ng-click="submit()" disabled="" />
    </div>
    <a href="" id="clickMe" ng-click="moveTop()">Click Me</a>
</form>